<div id="page-title-container" class="pb-4">
    <div class="d-inline">
        <div class="w-25 py-1 px-0 mb-3 mx-5" id="h1-container">
            <h1 class="text-center">Your Dashboard</h1>
        </div>
    </div>
</div>

<main class="custom-content-area pt-4">

    <div class="custom-card mx-5 mb-4">
        <div class="custom-card-header d-block p-2">
            <h4 class="card-title ">{{title}}</h4>
            <h5 class="card-title ">{{username}} {{format_date createdAt}}</h5>
            <div style="clear: both;"></div>
        </div>
        <div class="custom-card-body d-block">
            <p class="custom-card-text pt-3 px-3">{{content}}</p>
        </div>
    </div>




 
</main>